@font-face {
    font-family: 'manrope-l';
    src: url('/assets/fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'manrope';
    src: url('/assets/fonts/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'manrope-m';
    src: url('/assets/fonts/DMSans-Medium.ttf');
}
@font-face {
    font-family: 'manrope-b';
    src: url('/assets/fonts/DMSans-Bold.ttf');
}
*{
    scroll-behavior: smooth;
}
body{
    font-family: 'manrope';
}
h1{
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
    font-family: 'manrope-m';
}
h2{
    font-size: 60px;
    line-height: 1.4;
    font-weight: 700;
    color: #000;
    font-family: 'manrope-m';
}
h3{
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    color: #000;
    font-family: 'manrope-m';
}
h4,h5,h6{
    color: #000;
    font-weight: bold;
}
p, li{
    color: #000;
    font-family: "manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em
}
.container{
    margin: 0 auto;
    padding: 0 24px;
}
.small-heading{
    background-color: rgba(255, 255, 255, 0.06);
    padding: 9px 24px 9px 24px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff28;
    border-radius: 100px 100px 100px 100px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5;
    width: fit-content;
    margin:  0 auto;
}
.bg-primary-gradiant{
    background: linear-gradient(90deg, #386BB7 0%, #E24C4A 100%);
}
.text-primary{
    color: #A234FD;
}
.text-gradiant-primary{
    display: inline-block;
    background: linear-gradient(to right, #386BB7 0%, #E24C4A 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-btn{
    padding: 17px 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: normal;
    font-size: 18px;
    font-weight: 600;
    background: #A234FD;
    border: 2px solid #fff;
    transition: all .3s ease-in-out;
}
.landing-main .primary-btn svg, .landing-main .primary-btn span{
    /* transform: rotate(-45deg); */
    transition: all .3s ease-in-out;
}
.primary-btn:hover{
    background: #220210;
}
.primary-btn.not-svg svg,
.primary-btn.not-svg span
{
    background-color: transparent;
    width: auto;
    height: auto;
    color: #fff;
}
.primary-btn.not-svg:hover svg,
.primary-btn.not-svg:hover span{
    transform: inherit;
}
.primary-btn svg, .primary-btn span{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.primary-btn:hover svg, .primary-btn:hover span{
    transform: translateX(5px);
}
/* header css */
.header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease-in-out;
}
.header-main.fixed {
    transform: translateY(-35px);
}
.header-main .header-inner{
    padding: 20px 33px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 3px 21px 0px rgba(128, 0, 128, 0.2);
    transition: all .3s ease-in-out;
}
.header-main.fixed .header-inner{
    padding: 10px 33px;
    backdrop-filter: blur(20px);
    background: #ffffff8d;
}
.header-main .header-inner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    box-shadow: inset 0 0 27px #fff;
}

.header-main .header-inner::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-image: -webkit-linear-gradient(90deg, #ceaaf0 0%, rgba(237, 237, 237, .999) 100%);
    background-image: -moz-linear-gradient(90deg,#ceaaf0 0%,rgba(237,237,237,.999) 100%);
    background-image: -ms-linear-gradient(90deg,#ceaaf0 0%,rgba(237,237,237,.999) 100%);
    background-image: -o-linear-gradient(90deg,#ceaaf0 0%,rgba(237,237,237,.999) 100%);
    background-image: linear-gradient(90deg, #ceaaf0 0%, rgba(237, 237, 237, .999) 100%);
    opacity: .302;
}
.header-main.fixed .header-inner::before{
    background-image: linear-gradient(180deg,#e7e0ef,#a89dad);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: .94;
}
.header-main nav li a{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3em;
    color: #000;
    padding: 13px 15px 13px 15px;
}
.header-main nav li a.active,
.header-main nav li a:hover{
    color: #A234FD;
}
/* header css */

/* landing css */
.hero-section{
    padding: 225px 0 100px 0 ;
    background-image: url('/assets/imgs/banner-bg.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.faq-main{
    background-image: url('/assets/imgs/faq-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-slider-main{
    background-image: url('/assets/imgs/banner-slider-bg.webp');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
}
.pricing-main{
    background-image: url('/assets/imgs/pricing-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-main{
    background-image: url('/assets/imgs/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial-main{
    background-image: url('/assets/imgs/testimonial-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.login-main, .bg-light-gradiant {
    background-image: url('/assets/imgs/testimonial-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.login-main input,
.login-main select,
.login-main textarea
{
    border-color: #A234FD !important;
}
.faq-main .accordion-item[data-state='open']{
    background: linear-gradient(90deg,#f9b7bc 0%,#771a8b 50%,#A234FD 100%);
    color: #fff !important;
}
.faq-main .accordion-item[data-state='open'] .accordian-content,
.faq-main .accordion-item[data-state='open'] button{
    color: #fff !important;
}
.how-it-works{
    background-image: url('/assets/imgs/workflow-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
#feature{
    background-image: url('/assets/imgs/services-bg.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.floating-icons a{
    position: absolute;
    top: 0;
    left: 100px;
    animation: updown 2s infinite alternate-reverse linear;
}
.swiper-slide-prev,
.swiper-slide-next{
    opacity: 0.5 !important;
}
.slow-animte-spin{
    animation: spin-slow 5s infinite linear;
}
@keyframes spin-slow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes updown {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
.floating-icons a:nth-child(2){
    right: 100px;
    left: unset;
    animation-duration: 3s;
}
.floating-icons a:nth-child(3){
    bottom: 0;
    top: unset;
    left: unset;
    animation-duration: 2.5s;
}
.floating-icons a:nth-child(4){
    bottom: 0;
    left: unset;
    right: 10px;
    top: unset;
    animation-duration: 2s;
    animation-direction: alternate;
}
.bg-glass-color{
    background-color: #ffffff0a;
    background-image: url('/assets/imgs/section-bg-shape.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-button-prev,
.swiper-button-next {
    color: #A234FD !important;
    border: 1px solid #A234FD;
    width: 48px !important; /* Adjust size as needed */
    height: 48px !important; /* Adjust size as needed */
    display: flex;
    font-size: 14px !important;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    position: static !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #A234FD;
    color: #fff !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-pagination{
    position: static !important;
    width: fit-content !important;
}
.swiper-pagination .swiper-pagination-bullet {
    background-color: #a7aabb;
    opacity: 1;
    margin: 0 !important;
    width: 50px;
    height: 3px;
    border-radius: 2px;
}

.swiper-pagination-bullet-active {
    background-color: #A234FD !important;
}
.contact-form label{
    color: #fff;
}
.contact-form input,
.contact-form textarea,
.contact-form select
{
    padding: 14px 25px;
    width: 100%;
    background-color: #352146;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form select::placeholder{
    color: #a7aabb;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus{
    border: 1px solid #fff;
    outline: none;
}
.services-card{
    position: relative;
    height: 100%;
    overflow: hidden;
    min-height: 340px;
    background-color: #07000e;
}
.services-card:hover h4{
    text-decoration: underline;
}
.services-card button{
    opacity: 0;
    transition: all .3s ease-in-out;
}
.services-card:hover button{
    opacity: 1;
}
.services-card:hover .feature-image{
    scale: 1.25;
}
.services-card::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-image: linear-gradient(0deg, #A234FD 0%, #09010f 100%);
    transition: all .3s;
    z-index: -2;
    opacity: 0;
    transform: translateY(10px);
}
.services-card:hover p{
    opacity: 0;
}
.services-card:hover{
    border-color: #fff;
    box-shadow: 0 10px 40px 10px #A234FD;
}
.services-card:hover::after {
    opacity: 1;
    transform: translateY(0);
}
.services-card .feature-image{
    position: absolute;
    bottom: -70px;
    right: 0px;
    z-index: 0;
    transition: all .3s ease-in-out;
}
/* .services-card::before{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #386BB7 0%, #E24C4A 100%);
    transform: translateY(101%);
    transition: all .5s ease-in-out;
}
.services-card:hover::before{
    transform: translateY(0);
    border-radius: inherit;
} */
.services-card p{
    transition: all .3s ease-in-out;
}
.blog-card img{
    transition: all .5s ease-in-out;
}
.services-card:hover p{
    color: #fff !important;
}
.blog-card{
    border: 4px solid transparent;
    transition: all .2s ease-in-out !important;
}
.blog-card:hover{
    border: 4px solid #A234FD;
    transform: rotate(-4deg) !important;
}
.text-viewer h1{
    font-size: 28px;
}
.text-viewer h2{
    font-size: 26px;
}
.text-viewer h3{
    font-size: 22px;
}
.text-viewer h4{
    font-size: 18px;
}
.text-viewer h5{
    font-size: 18px;
}
.text-viewer h6{
    font-size: 16px;
}
.scroll-0::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.str-video__video-preview-container{
    border-color: #9c9c9c !important;
}
.str-video__video-placeholder__initials-fallback{
    background-color: #E24C4A !important;
}
.policy-content ul{
    list-style: disc;
    padding-left: 30px;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #363434;
}
.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #363434;
}
.fc .fc-daygrid-day.fc-day-today{
    background-color: #386bb72e;
}
.fc-daygrid-event{
    white-space: wrap !important;
}
.react-flow__controls-button{
    color: #000 !important;
}
@media (max-width:1200px) {
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 28px;
    }
    p, li{
        font-size: 14px;
    }
    .container{
        padding: 0 12px;
    }
    .primary-btn{
        padding: 12px 18px;
    }
}
@media (max-width:768px) {
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 25px;
    }
    .floating-icons a{
        height: 40px;
        width: 40px;
    }
    .floating-icons button{
        padding: 8 !important;
    }
    .floating-icons a svg{
        height: 20px;
        width: 20px;
    }
    .primary-btn{
        padding: 12px 16px;
        font-size: 14px;
    }
    input,
    textarea,
    select
    {
        padding: 10px 16px;
    }
}
@media (max-width:500px) {
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    .container{
        padding: 0 10px;
    }
    .hero-section{
        padding: 150px 0 80px 0;
    }
    .primary-btn{
        padding: 8px 14px !important;
        font-size: 14px;
    }
    .rdt_Pagination button{
        width: 30px;
        height: 30px;
    }
    .rdt_Pagination button svg{
        width: 15px;
        height: 15px;
    }
    input, textarea, select{
        padding: 8px 14px !important;
    }
}
@media (max-width:400px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    
}